.card_parent {
    margin-top: 25px;
}
.card_parent.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.card_title {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    background: #F7F7F7;
}
input.input__element:read-only {
    background: #F7FAFC;
    border: none;
    color: #9e9e9e;
    font-size: 16px;
    font-weight: normal;
}
.change_password_form {
    position: relative;
    padding: 20px;
}
.my_account_vs {
    height: 100%;
    overflow: auto;
}
.my_account_vs .card_title.card-header{
    background-color: transparent;
    border-bottom: none;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0px 1px 20px 0px rgba(69, 90, 100, 0.08);
    box-shadow: 0px 1px 20px 0px rgba(69, 90, 100, 0.08);
    color: #004061;
    font-size: 18px;
    font-weight: 600;
}
.my_account_vs .card_title.card-header:before {
    content: "";
    background-color: #63b8a7;
    position: absolute;
    left: 0;
    top: 50%;
    width: 4px;
    height: 30px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.did-floating-input:disabled {
    background: rgba(128, 128, 128, 0.2);
    cursor: not-allowed;
    color: #004061;
}