.employer_learn_more_page {
  margin: 50px 0px;
}
.employer_learn_more_page * {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.section {
  margin-bottom: 25px;
}
h3.section_heading {
  font-size: 21px;
  font-weight: bolder;
  margin-bottom: 20px;
  text-decoration: none;
  color: #212529;
}
.employer_learn_more_page p {
  color: rgba(67, 66, 69, 0.8);
  font-size: 16px;
  font-weight: 400;
}
.employer_learn_more_page p strong {
  color: #212529;
}

.employer_page {
  &-request {
    background-color: #fff;
    color: #004061;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;

    @media only screen and (max-width: 780px) {
      padding: 50px 20px;
    }

    &-title {
      font-size: 3rem;
      font-weight: bolder;
      margin-bottom: 100px;

      @media only screen and (max-width: 780px) {
        font-size: 2rem;
        margin-bottom: 50px;
      }
    }

    &-desc {
      font-size: 1.5rem;
      margin-bottom: 100px;
      text-align: center;
      max-width: 1000px;

      @media only screen and (max-width: 780px) {
        font-size: 1rem;
        margin-bottom: 50px;
      }
    }

    &-btn {
      padding: 20px 20px;
      border-radius: 100px;
      border: none;
      color: #fff;
      text-transform: uppercase;
      margin-top: 20px;
      background-color: #004061;
    }
  }

  &-benefit {
    background-color: #004061;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;

    @media only screen and (max-width: 780px) {
      padding: 50px 20px;
    }

    &-title {
      font-size: 3rem;
      font-weight: bolder;
      margin-bottom: 100px;

      @media only screen and (max-width: 780px) {
        font-size: 2rem;
        margin-bottom: 50px;
      }
    }

    &-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1000px;
      gap: 20px;

      @media only screen and (max-width: 780px) {
        grid-template-columns: 100%;
      }

      &-item {
        &-title {
          text-align: center;
          font-weight: bolder;
          font-size: 20px;

          @media only screen and (max-width: 780px) {
            font-size: 16px;
          }
        }

        &-desc {
          text-align: center;
          @media only screen and (max-width: 780px) {
            font-size: 12px;
          }
        }
      }
    }
  }

  &-feature {
    background-color: #fff;
    color: #004061;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;

    @media only screen and (max-width: 780px) {
      padding: 50px 20px;
    }

    &-title {
      font-size: 3rem;
      font-weight: bolder;
      margin-bottom: 100px;

      @media only screen and (max-width: 780px) {
        font-size: 2rem;
        margin-bottom: 50px;
      }
    }

    &-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 1000px;
      gap: 20px;

      &-item {
        &-title {
          text-align: center;
          font-weight: bolder;
          font-size: 20px;

          @media only screen and (max-width: 780px) {
            font-size: 16px;
          }
        }

        &-desc {
          text-align: center;

          @media only screen and (max-width: 780px) {
            font-size: 12px;
          }
        }
      }
    }
  }

  &-partner {
    background-color: #004061;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;

    @media only screen and (max-width: 780px) {
      padding: 50px 20px;
    }

    &-title {
      font-size: 3rem;
      font-weight: bolder;
      margin-bottom: 100px;

      @media only screen and (max-width: 780px) {
        font-size: 2rem;
        margin-bottom: 50px;
      }
    }

    &-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 1000px;
      gap: 20px;

      &-item {
        &-title {
          text-align: center;
          font-weight: bolder;
          font-size: 20px;

          @media only screen and (max-width: 780px) {
            font-size: 16px;
          }
        }

        &-desc {
          text-align: center;

          @media only screen and (max-width: 780px) {
            font-size: 12px;
          }
        }
      }
    }
  }
}
